<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://unpkg.com/marked@11"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<script>
		// https://stackoverflow.com/questions/75961119/how-to-add-dark-mode-toggle-in-tailwind-css-using-cdn
		tailwind.config = {
			darkMode: "class"
		};
	</script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<title>Document</title>
	<script type="text/x-template" id="notelist-template">
		<div v-if="notes.length === 0" class="my-2 text-gray-600 dark:text-gray-400">There are no notes...</div>
		<div v-for="note in notes" class="my-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer" @click="hoist_click(note)">
			<div>{{ note.title }}</div>
			<div class="text-gray-600 dark:text-gray-400">Last edited {{ format_time(note.edited) }}</div>
		</div>
	</script>
	<script type="text/x-template" id="backbutton-template">
		<div class="w-full max-w-xl">
			<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_back"><span class="material-symbols-outlined">arrow_back</span><span>Back</span></button>
		</div>
	</script>
	<script type="text/x-template" id="controls-template">
		<div class="w-full max-w-xl">
			<div class="flex flex-wrap gap-2">
				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_new_note"><span class="material-symbols-outlined">add</span><span>New note</span></button>

				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_all_notes"><span class="material-symbols-outlined">lists</span><span>All notes</span></button>

				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_settings"><span class="material-symbols-outlined">Settings</span><span>Settings</span></button>
			</div>
		</div>
	</script>
	<style>
		.note p {
			margin: 0.5rem 0rem;
		}

		.note ul {
			list-style-type: disc;
			margin-left: 2rem;
		}
	</style>
	<script type="text/x-template" id="note-template">
		<div class="w-full max-w-xl note">
			<h1 class="text-xl">{{ note.title }}</h1>
			<div class="text-gray-600 dark:text-gray-400">{{ edited }}</div>
			<div class="my-2" v-html="parsed"></div>
		</div>
		<div class="w-full max-w-xl">
			<div class="flex flex-wrap gap-2">
				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_back"><span class="material-symbols-outlined">arrow_back</span><span>Back</span></button>

				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_edit"><span class="material-symbols-outlined">edit</span><span>Edit</span></button>
			</div>
		</div>
	</script>
	<script type="text/x-template" id="editor-template">
		<div class="w-full max-w-xl">
			<textarea ref="textarea_title" class="text-xl w-full bg-gray-100 dark:bg-gray-700 rounded" v-model="title" rows="1" @input="resize_textarea"></textarea>
			<div class="text-gray-600 dark:text-gray-400">{{ edited }}</div>
			<textarea ref="textarea_text" class="w-full my-2 bg-gray-100 dark:bg-gray-700 rounded" v-model="text" @input="resize_textarea"></textarea>
			<select class="w-full p-2 dark:bg-gray-700 rounded" v-model="parser">
				<option value="markdown">Markdown + HTML</option>
				<option value="html">HTML</option>
			</select>
		</div>
		<div class="w-full max-w-xl">
			<div class="flex flex-wrap gap-2">
				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_delete"><span class="material-symbols-outlined">delete</span><span>Delete</span></button>

				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_abort"><span class="material-symbols-outlined">close</span><span>Abort</span></button>

				<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="hoist_save"><span class="material-symbols-outlined">done</span><span>Save</span></button>
			</div>
		</div>
	</script>
</head>
<body class="dark:bg-gray-800 dark:text-gray-100">
	<main class="min-h-screen grid justify-items-center content-center gap-4 p-4" id="app">
		<div v-if="recent_shown" class="w-full max-w-xl">
			<h1 class="text-xl">Recent notes</h1>
			<notelist :notes="recent_notes" @clicked="(note) => show_note(note)"></notelist>
		</div>

		<controls v-if="recent_shown" @new_note="add_new_note" @all_notes="show_all_notes" @settings="show_settings"></controls>

		<div v-if="all_notes_shown" class="w-full max-w-xl">
			<h1 class="text-xl">All notes</h1>
			<notelist :notes="notes" @clicked="(note) => show_note(note)"></notelist>
		</div>

		<div v-if="settings_shown" class="w-full max-w-xl">
			<h1 class="text-xl">Settings</h1>
			<fieldset class="border border-gray-300">
				<legend class="mx-2 px-4">Theme</legend>
				<div class="p-2">
					<label><div><input type="radio" v-model="theme" value="light" class="m-2" @change="update_theme"><span>Light</span></div></label>
					<label><div><input type="radio" v-model="theme" value="dark" class="m-2" @change="update_theme"><span>Dark</span></div></label>
				</div>
			</fieldset>
			<fieldset class="border border-gray-300">
				<legend class="mx-2 px-4">Storage</legend>
				<div class="p-2">
					<button class="min-w-40 bg-gray-200 hover:bg-gray-300 text-gray-800 dark:bg-gray-400 font-bold py-2 px-4 rounded inline-flex justify-center gap-2" @click="reset_storage"><span class="material-symbols-outlined">dangerous</span><span>Reset storage</span></button>
				</div>
			</fieldset>
		</div>

		<backbutton v-if="all_notes_shown || settings_shown" @back="show_recent"></backbutton>

		<note v-if="note_shown" :note="active_note" @back="show_recent" @edit="show_editor"></note>
		<editor v-if="editor_shown" :note="active_note" @delete="delete_active_note" @abort="show_note" @save="show_note"></editor>
	</main>

	<script>
		const timefmt = new Intl.DateTimeFormat(undefined, {
			dateStyle:"short",
			timeStyle:"short"
		})

		// Конфигурация для Marked
		// https://marked.js.org/using_advanced#options
		marked.setOptions({
			async: false,
			breaks: true,
			gfm: true,
			pedantic: false,
			silent: false
		})

		function parse(x) {
			return marked.parse(x).replace(/\n/g, "")
		}

		// Отдельные компоненты
		// Список заметок
		const notelist = {
			template: "#notelist-template",
			props: {
				notes: {
					required: true
				}
			},
			methods: {
				hoist_click(note) {
					this.$emit("clicked", note)
				},
				format_time(time) {
					return timefmt.format(time)
				}
			}
		}

		// Кнопка назад
		const backbutton = {
			template: "#backbutton-template",
			methods: {
				hoist_back() {
					this.$emit("back")
				}
			}
		}

		// Панель с кнопками
		const controls = {
			template: "#controls-template",
			methods: {
				hoist_new_note() {
					this.$emit("new_note")
				},
				hoist_all_notes() {
					this.$emit("all_notes")
				},
				hoist_settings() {
					this.$emit("settings")
				}
			}
		}

		// Заметка
		const note = {
			template: "#note-template",
			props: {
				note: {
					required: true
				}
			},
			computed: {
				parsed() {
					switch (this.note.parser) {
						case "markdown": return parse(this.note.text)
						case "html": return this.note.text
						default: throw "Unknown parser: " + this.note.parser
					}
				},
				edited() {
					return timefmt.format(this.note.edited)
				}
			},
			methods: {
				hoist_back() {
					this.$emit("back")
				},
				hoist_edit() {
					this.$emit("edit")
				}
			}
		}

		// Редактор
		const editor = {
			template: "#editor-template",
			props: {
				note: {
					required: true
				}
			},
			methods: {
				hoist_delete() {
					const really = confirm(`Точно удалить "${this.title}"?`)

					if (really)
						this.$emit("delete")
				},
				hoist_abort() {
					this.$emit("abort")
				},

				// Меняем настоящую заметку при сохранении
				hoist_save() {
					this.note.title = this.title
					this.note.text = this.text
					this.note.parser = this.parser
					this.note.edited = Date.now()
					this.$emit("save")
				},
				
				resize_textarea(event) {
					event.target.style.height = event.target.scrollHeight + "px"
				}
			},
			computed: {
				edited() {
					return timefmt.format(this.note.edited)
				}
			},

			// Здесь реактивность мешает нам
			// Мы не хотим сразу менять настоящую заметку
			// Так что здесь мы копируем значения
			data(context) {
				return {
					title: context.note.title,
					text: context.note.text,
					parser: context.note.parser
				}
			},

			mounted() {
				this.$refs.textarea_title.style.height = this.$refs.textarea_title.scrollHeight + "px"
				this.$refs.textarea_text.style.height = this.$refs.textarea_text.scrollHeight + "px"
			}
		}

		// Приложение в целом
		const config = {
			components: {
				notelist, backbutton, controls, note, editor
			},

			data() {
				return {
					notes: localStorage.notes ? JSON.parse(localStorage.notes) : [
					{
						title: "Интересности с VueJS",
						edited: Date.now() - 60*1000,
						text: "Не знаю, что здесь написать",
						parser: "markdown"
					},
					{
						title: "Интересности с Tailwind",
						edited: Date.now() - 120*1000,
						text: "Tailwind убирает C из CSS",
						parser: "markdown"
					},
					{
						title: "README!",
						edited: Date.now() - 30*1000,
						text: "Добро пожаловать в приложение для заметок!\n\nЗдесь реализованы следующие возможности:\n\n- Добавление заметок\n- Просмотр заметок\n- Редактирование заметок\n- Удаление заметок\n- Хранение заметок в localStorage\n- Светлая и тёмная тема\n- Markdown\n\nУдалить все заметки можно в настройках.",
						parser: "markdown"
					}
					],
					active_note: null,
					screen: "recent",
					theme: localStorage.theme || "light"
				}
			},

			// Удевомления об изменениях и сохранение в localStorage
			watch: {
				notes: {
					handler(new_state, old_state) {
						localStorage.notes = JSON.stringify(new_state)
					},
					deep: true // Глубокое наблюдение
				}
			},

			computed: {
				// Определение отображаемого экрана
				recent_shown() { return this.screen === "recent" },
				note_shown() { return this.screen === "note" },
				editor_shown() { return this.screen === "editor" },
				settings_shown() { return this.screen === "settings" },
				all_notes_shown() { return this.screen === "all_notes" },

				// Недавние заметки
				recent_notes() {
					const cloned = [].concat(this.notes)

					cloned.sort((a, b) => b.edited - a.edited)

					return cloned.slice(0, 10)
				}
			},

			methods: {
				// Переключение экранов
				show_recent() {
					this.screen = "recent"
					this.active_note = null
				},
				show_all_notes() {
					this.screen = "all_notes"
				},
				show_note(note) {
					this.active_note = note ?? this.active_note
					this.screen = "note"
				},
				show_editor() {
					if (this.active_note) {
						this.screen = "editor"
					} else {
						throw "No active note, nothing to edit"
					}
				},
				show_settings() {
					this.screen = "settings"
				},

				// Действия с заметками
				delete_active_note() {
					const idx = this.notes.indexOf(this.active_note)

					delete this.notes[idx]

					// Убрать дыру в массиве
					this.notes = this.notes.flat()

					this.show_recent()
				},
				add_new_note() {
					const note = {
						title: "Заметка " + (this.notes.length + 1),
						edited: Date.now(),
						text: "",
						parser: "markdown"
					}

					this.show_note(note)
					this.show_editor()

					this.notes.push(note)
				},
				update_theme() {
					localStorage.theme = this.theme

					if (this.theme === "dark") {
						document.documentElement.classList.add("dark")
					} else {
						document.documentElement.classList.remove("dark")
					}
				},
				reset_storage() {
					const really = confirm("Удалить все заметки и настройки?")

					if (really) {
						localStorage.removeItem("notes")
						localStorage.removeItem("theme")
						location.href = location.href
					}
				}
			}
		}

		const app = Vue.createApp(config).mount("#app")

		// Начальное применение темы
		app.update_theme()
	</script>
</body>
</html>